version: '3.4'
services:
    gsmaster:
      image: terrabrasilis/geoserver-master:v1.0.6
      hostname: master.geoserver
      ports:
        - "8888:8080"
      networks:
        - proxy
      volumes:
        - /server/sisgeo/data/geoserver/data:/var/local/geoserver
        - /server/sisgeo/data/geoserver/web.xml:/usr/local/geoserver/WEB-INF/web.xml
      environment:
        GEOSERVER_LOG_LOCATION: /var/local/geoserver/logs/geoserver.log
        CATALINA_OPTS: >-
          -DGEOSERVER_DATA_DIR=/var/local/geoserver
        instanceName: master
      deploy:
        replicas: 1
        restart_policy:
          condition: on-failure

networks:
  proxy:
    external: true
